@font-face {
    font-family: 'lemon_milkregular';
    src: url('lemon_milk/LEMONMILK-Regular.otf');
}
@font-face {
    font-family: 'lemon_milkBold';
    src: url('lemon_milk/LEMONMILK-Bold.otf');
    }
@font-face {
    font-family: 'lemon_milkLight';
    src: url('lemon_milk/LEMONMILK-Light.otf');
    }
.section_1{
    display: flex;
    width: 100%;
    background-color: #BC2C3D;
    color: #F8F3E6;
}
.steps {
    margin-left: 5em;
    margin-top: 5em;
}
.stepsp {
    width: 80%;
}
.banGunsImg{
    width: 10%;
    margin-right: 5em;
}
.section_2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F8F3E6;
    color: #BC2C3D;
}
.footsteps{
   width: 10%;
   margin-left: 5em;
}
.section_2_texts{
    width: 80%;
    margin-right: 5em;
    margin-top: 5em;
    padding-left: 10em;
}
h1{
    font-family: lemon_milkBold
}
p{
    font-family: lemon_milkregular;
    font-size: 18px;
}
.btn{
    background-color: white;
    border-radius: 0px;
    height: 45px;
    width: 157px;
    color: red;
    z-index: 0;
}
.button-behind{
    border: 1px solid white;
    height: 45px;
    width: 157px;
    position: relative;
    top: -40px;
    right: -5px;
    z-index: 1;
}
a{
    font-family: lemon_milkBold ;
    font-size: 16px;
    color: #BC2C3D;
    text-decoration: none;
}
h3 {
    font-family: lemon_milkBold
}

p {
    font-family: lemon_milkregular;
}

h3 {
    font-family: lemon_milkBold
}

.donation{
    background-color: #BC2C3D;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.btn{
    background-color: white;
    border-radius: 0px;
    height: 45px;
    width: 157px;
    color: red;
    z-index:1;
    display: flex;
    justify-content: center;
}

.btn a{
    z-index: 2;
    color: #BC2C3D;
}
.behind-button{
    border: 1px solid white;
    height: 45px;
    width: 157px;
    position: relative;
    top: -40px;
    right: -5px;
    z-index:0;
}
.btn:hover{
     background-color: white;
}
.color{
    background-color: black;
    color: white;
    z-index:1;
}
.color2{
    border: black solid 1px;
    z-index:0;
}
.color a{
    z-index:2;
}
.color:hover{
    background-color: black;
}

@media only screen and (max-width: 576px) {
@font-face {
    font-family: 'lemon_milkregular';
    src: url('lemon_milk/LEMONMILK-Regular.otf');
}
@font-face {
    font-family: 'lemon_milkBold';
    src: url('lemon_milk/LEMONMILK-Bold.otf');
    }
@font-face {
    font-family: 'lemon_milkLight';
    src: url('lemon_milk/LEMONMILK-Light.otf');
    }
.section_1{
    display: flex;
    width: 100%;
    background-color: #BC2C3D;
    color: #F8F3E6;
}
.steps {
    width: 80%;
    margin: 5em auto;
    padding: 0;
    text-align: center;
}
.stepsp {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.banGunsImg{
    display: none;
    width: 10%;
    margin-right: 5em;
}
.section_2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F8F3E6;
    color: #BC2C3D;
}
.footsteps{
    display: none;
}
.section_2_texts{
    width: 80%;
    margin: 5em auto;
    padding: 0;
    text-align: center;
}
h1{
    font-family: lemon_milkBold
}
p{
    font-family: lemon_milkregular;
    font-size: 18px;
}
.btn{
    background-color: white;
    border-radius: 0px;
    height: 45px;
    width: 157px;
    color: red;
    z-index: 0;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}
.button-behind{
    border: 1px solid white;
    height: 45px;
    width: 157px;
    position: relative;
    top: -40px;
    right: -108px;
    z-index: 1;
}
a{
    font-family: lemon_milkBold ;
    font-size: 16px;
    color: #BC2C3D;
    text-decoration: none;
}
.donation{
    background-color: #BC2C3D;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.text-white {
    font-family: lemon_milkLight;
    font-size: 0.3em;
    padding-right: 2em;
}
.red-text {
    text-align: center;
}

.color{
    background-color: black;
    color: white;
    z-index:1;
}
.color2{
    border: black solid 1px;
    z-index:0;
}
.color a{
    z-index:2;
}
.color:hover{
    background-color: black;
}

.move{
    top: -40px;
    right: -77px;
}
.yo a{
    font-size: 16px;
    font-family: lemon_milkBold;
}
.yo p{
    font-size: 16px;
}
.naviii a{
    padding: 0;
}
}