@font-face {
    font-family: 'lemon_milkregular';
    src: url('lemon_milk/LEMONMILK-Regular.otf');
}
@font-face {
    font-family: 'lemon_milkBold';
    src: url('lemon_milk/LEMONMILK-Bold.otf');
    }
@font-face {
    font-family: 'lemon_milkLight';
    src: url('lemon_milk/LEMONMILK-Light.otf');
    }
    
a{
    font-family: lemon_milkBold ;
    font-size: 16px;
    color: #BC2C3D;
    text-decoration: none;
}
.img3{
    position: absolute;
    z-index: 0;
    width: 77%;
    left: 20%;
}
h1{
    font-family:lemon_milkBold;
    color: white;
}
h3{
    font-family: lemon_milkregular;
    color: white;
}
.xhespic{
    z-index: 1;
    margin-top: 20%;
}
.btn{
    background-color: white;
    border-radius: 0px;
    height: 3em;
    width: 7.7em;
    color: red;
    z-index:1;
    display: flex;
    justify-content: center;
}
.btn:hover{
     background-color: white;
}

.btn a{
    z-index: 2;
    color: #BC2C3D;
}
.behind-button{
    border: 1px solid white;
    height: 4em;
    width:9.9em;
    position: relative;
    top: -54px;
    right: -6.3px;
    z-index:0;
}

.part2{
    background-color: #231f20;
    display: flex;
    flex-direction: column;
}

.btn:hover{
     background-color: white;
}
.causes{
    width:60%;
    align-self: center;
}
.causes-title{
    text-align: center;
}
article{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.num{
    width: 15%;
    margin-right: 10%;
}
span{
    display: flex;
}
.causestitle{
    margin: 10%;
}
p{
   color: white;
   font-family: lemon_milkLight;
}

.chart{
    background-color: #F8F3E6;
    width: 100%;
}

.num1{
    width: 13%;
    margin-right: 5.9em;
}

article p{
    font-size: 0.6em;
}

.red-text{
    color:#BC2C3D;
}

.piechart{
    width: 47%;
}

.bullet{
    width: 0.8em;
    margin: 2em;
}

.bulletpoints{
    display: flex;
    justify-content: space-between;
    width: 80%;
}


.chartheading{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.space{
    display: flex;

    justify-content: space-evenly;
}

.size{
    font-size: 2em;
    font-family: lemon_milkBold;
}

.bulletpoints p{
    font-size: 0.6em;
    display: flex;
    align-items: center;
}

h5{
    font-family: lemon_milkLight;
    color: white;
}

.guntypes{
    background-color: #BC2C3D;
    display: flex;
    flex-direction: column;
}

span h5 {
    width: 70%;
    padding: 3em;
}
.guntypes h1{
      width: 70%;  
      text-align: center;
      margin-top: 2em;
}

.guntypes img{
    width: 30%;
    padding-right: 3em;
}


#mc-embedded-subscribe-form{
    background-color: #F8F3E6;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mc-embedded-subscribe-form h1{
    font-family: lemon_milkBold;
    color:#BC2C3D;
}

#mc-embedded-subscribe{
       background-color: black;
       color: white;
       z-index: 2;
}

#mc_embed_signup_scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mc-field-group{
    text-align: center;
}

.email{
    text-align: center;
}



@media only screen and (max-width: 576px) {
    .img3{
        display: none;
    }
    .xhespic{
            display: none;
    }
    .bullet{
        display: none;
    }
    .num{
        display: none;
    }
    .guntypespic{
        display: none;
    }
    
    .first{
       margin-top: 50%;
            
    }
    .buttons{
        display: flex;
     justify-content: center;
    }

    .behind-button{
    top: -54px;
    right: -54.4px;
    }
    
    .piechart{
        display: none;
    }
    .part2{
        width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
    
    }
    article{
        width: 100%;
          text-align: center;
    }
    .causes h1{
        text-align: center;
        margin-top: 10%;
    }
    .chart h1{
        text-align: center;
        padding-top: 7%;
    }
  
    .chartheading{
         margin-left: 14%;
        width: 70%;
        text-align: center;
    }
    .bulletpoints{
        width: 70%;
         margin-left: 14%;
        text-align: center;
    }
    .guntypes h1{
      width: 70%;  
      text-align: center;
      margin-top: 2em;
      margin-left: 14%;
}
    
    .guntypes h5{
        justify-content: center;
        text-align: center;
        padding: 0;
        margin-left: 14%;
    }
}
