.buffalo {
    margin-top: 120px;
}

.col {
    color: red;
}

@font-face {
    font-family: 'lemon_milkregular';
    src: url('lemon_milk/LEMONMILK-Regular.otf');
}

@font-face {
    font-family: 'lemon_milkBold';
    src: url('lemon_milk/LEMONMILK-Bold.otf');
}

@font-face {
    font-family: 'lemon_milkLight';
    src: url('lemon_milk/LEMONMILK-Light.otf');
}

h1 {
    font-family: lemon_milkBold
}

p {
    font-family: lemon_milkregular;
}

a {
    font-family: lemon_milkBold;
}
